@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-small: 'DM Sans';
  --headings-typography-size-2: 'Red Hat Display';

  /* font sizes */
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-2xl: 20px;
  --fs-3xl: 24px;
  --fs-4xl: 32px;
  --fs-5xl: 40px;
  --fs-6xl: 48px;
  --fs-7xl: 56px;
  --fs-8xl: 64px;
  --fs-9xl: 72px;
  --fs-10xl: 80px;

  /* Colors */
  --primary: #754ffe;
  --secondary: #79758f;
  -success: #19cb98;
  --warning: #ffaa46;
  --danger: #e53f3c;
  --info: #29baf9;
  --light: #f5f4f8;
  --dark: #18113c;

  /* Gray */
  --gray-100: #f5f4f8;
  --gray-200: #ecebf1;
  --gray-300: #e8e7ed;
  --gray-400: #beb9cd;
  --gray-500: #a8a3b9;
  --gray-600: #79758f;
  --gray-700: #5c5776;
  --gray-800: #413c5e;
  --gray-900: #18113c;
  --gray-1000: #0b1324;
  /* Spacing */
  --spacing-xxs: 4px;
  --spacing-xs: 8px;
  --spacing-sm: 12px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 96px;
  --spacing-4xl: 128px;
  --spacing-5xl: 192px;
  /* line-height */

  /* shadow*/
  --shadow-1: 0 1px 3px rgba(17, 24, 39, 0.09);
  --shadow-2: 0 3px 6px rgba(17, 24, 39, 0.1);
  --shadow-3: 0 6px 8px 0 rgba(17, 24, 39, 0.08),
    0 0 0 1px rgba(17, 24, 39, 0.04);
  /*smooth Shadow  */
  --smooth-shadow-1: 0 2px 4px rgba(0, 0, 20, 0.08),
    0 1px 2px rgba(0, 0, 20, 0.08);
  --smooth-shadow-2: 0 1px 2px rgba(21, 30, 40, 0.07),
    0 2px 4px rgba(21, 30, 40, 0.07), 0 4px 8px rgba(21, 30, 40, 0.07),
    0 8px 16px rgba(21, 30, 40, 0.07), 0 16px 32px rgba(21, 30, 40, 0.07),
    0 32px 64px rgba(21, 30, 40, 0.07);
  --smooth-shadow-3: 0 1px 1px rgba(21, 30, 40, 0.11),
    0 2px 2px rgba(21, 30, 40, 0.11), 0 4px 4px rgba(21, 30, 40, 0.11),
    0 8px 8px rgba(21, 30, 40, 0.11), 0 16px 16px rgba(21, 30, 40, 0.11),
    0 32px 32px rgba(21, 30, 40, 0.11);
}
.dark {
  --primary: #593cc1;
  --secondary: #5c596d;
  --success: #139a74;
  --warning: #c28135;
  --danger: #ae302e;
  --info: #51a0c2;
}
.light {
  --primary: #e3dcff;
  --secondary: #e4e3e9;
  --success: #d1f5ea;
  --warning: #ffeeda;
  --danger: #fad9d8;
  --info: #e1f6ff;
  --dark: #d1cfd8;
}
.lead {
  font-size: 2xl;
}
.display-1 {
  font-size: 6xl;
}
body {
  font-family: var(--body-small);
  font-size: var(--body-small-size);
  color: var(--light-version-type-text-dark);
  background-color: var(--light-version-surface-neutral);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
